.main {
}
.catalog {
  // .catalog__container
  &__container {
  }
  // .catalog__title
  &__title {
    margin: rem(24) 0;
    font-size: rem(20);
    font-weight: 600;

    @media (min-width: $desktop) {
      margin: rem(24) 0 rem(16);
    }
  }
  // .catalog__items-container
  &__items-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: rem(16);
    row-gap: rem(24);

    @media (min-width: em(600)) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: em(1024)) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  // .catalog__item
  &__item {
  }
}

.catalog {
  // .catalog__item
  &__item {
  }
}
.catalog-card {
  position: relative;
  // .catalog-card__link
  &__link {
  }
  // .catalog-card__image-container
  &__image-container {
    display: block;
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    overflow: hidden;
    border-radius: rem(12);
    margin-bottom: rem(12);
  }
  // .catalog-card__image
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;

    @media (any-hover: hover) {
      &:hover {
        // min-width: 100%;
        transform: scale(1.1);
        filter: brightness(0.9);
      }
    }
  }
  // .catalog-card__badge
  &__badge {
    position: absolute;
    top: rem(12);
    right: rem(12);
    padding: rem(8) rem(24);
    border-radius: rem(24);
    font-size: rem(16);
    font-weight: 700;
    line-height: 1.4;
    color: $textColorLight;

    // .catalog-card__badge_price
    &_price {
      background-color: $cardBadgeColorPrice;
    }
  }
  // .catalog-card__title
  &__title {
    font-size: rem(20);
    font-weight: 600;
    line-height: 1.4;
    color: $textColorMain;
  }
  // .catalog-card__price-container
  &__price-container {
    font-family: $fontFamilyPrice;
    margin-top: rem(4);
  }
  // .catalog-card__price-new
  &__price-new {
    display: block;
    font-size: rem(14);
    font-weight: 600;
    line-height: 1.4;
    text-decoration: line-through;
    color: $cardPriceColorNew;
  }
  // .catalog-card__price
  &__price {
    display: block;
    font-size: rem(14);
    font-weight: 500;
    line-height: 1.4;
    color: $cardPriceColorCurrent;

    // .catalog-card__price_old
    &_old {
      color: $cardPriceColorOld;
      font-weight: 700;
    }
  }
}