.text {
  line-height: 1.4;
  &:not(:last-child) {
    margin-bottom: rem(8);
  }
  // .text_center
  &_center {
    text-align: center;
  } 
  // .text__bold
  &__bold {
    font-weight: 700;
  }
  // .text__link
  &__link {
    color: $linkColorMain;
    text-decoration: underline;
    transition: all 0.3s;

    &:visited,
    &:hover,
    &:active {
      color: $linkColorAlt;
    }
  }
}

.list {
  // .list_default
  &_default {
  }
  // .list_additional
  &_additional {
  }
  // .list__item
  &__item {
    font-weight: 500;
    line-height: 1.4;

    &:not(:last-of-type) {
      margin-bottom: rem(4);
    }
  }
  // .list__item-price
  &__item-price {
    font-family: $fontFamilyPrice;
    font-weight: 700;
    white-space: nowrap;
  }
}



// Grid Layout
.product-page {
  // .product-page__container
  &__container {
  }
  // .product-page__main-info
  &__main-info {
    display: grid;
    margin-top: rem(16);
    row-gap: rem(16);

    @media screen and (min-width: $tablet) {
      grid-template-columns: 1fr 1fr;
      // grid-template-rows: auto auto auto;
      column-gap: rem(24);
      margin-top: rem(24);
    }

    > * {
      overflow: hidden;
    }
  }
  // .product-page__gallery-container
  &__gallery-container {
    order: 1;

    @media screen and (min-width: $tablet) {
      grid-column: 1;
      grid-row: 1 / span 2;
    }
  }
  // .product-page__header-container
  &__header-container {
    order: 2;

    @media screen and (min-width: $tablet) {
      grid-column: 2;
      grid-row: 1;
    }
  }
  // .product-page__details-container
  &__details-container {
    order: 3;
        
    @media screen and (min-width: $tablet) {
      grid-column: 2;
      grid-row: 2 / span 3;
    }
  }
  // .product-page__description-container
  &__description-container {
    order: 4;
    
    @media screen and (min-width: $tablet) {
      grid-column: 1;
      grid-row: 3;
    }
  }
}


// Title h1
.product-page {
  // .product-page__title
  &__title {
    font-weight: 600;
    line-height: 1.4;
    font-size: rem(20);

    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }
  // .product-page__warning
  &__warning {
  }
}


// ColorSwatch
.product-page {
  // .product-page__color-swatch
  &__color-swatch {
    display: flex;
    gap: rem(16);
    margin: rem(8) rem(4) rem(16) rem(4);
  }
  // .product-page__color-swatch-button
  &__color-swatch-button {
    position: relative;
    width: rem(24);
    height: rem(24);
    border-radius: rem(4);
    transition: outline-color 0.3s;
    outline-offset: rem(2);

    &::before {
      display: none;
    }
    &.swatch-button-active {
      &::before {
        display: block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: rem(9);
        height: rem(8);
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='8' viewBox='0 0 9 8' fill='none'%3E%3Cpath d='M1 4.33333L3.8 7L8 1' stroke='%23F3F3F3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat center center;
        background-size: contain;
      }
    }
  }
}


.product-page__gallery {
  
}

// Gallery
.product-gallery {
  display: flex;
  flex-direction: column;
  gap: rem(8);
  position: relative;

  // @media screen and (min-width: $tablet) {
  //   position: sticky;
  //   top: rem(96);
  // }

  // .product-gallery__main
  &__main {
    width: 100%;
    position: relative;
  }
  // .product-gallery__main-wrapper
  &__main-wrapper {
    aspect-ratio: 4 / 3;
    // gap: rem(8);
  }
  // .product-gallery__main-slide
  &__main-slide {
    width: 100%;
    height: 100%;
  }
  // .product-gallery__main-img
  &__main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: rem(12);
  } 

  // .product-gallery__thumbnails
  &__thumbnails {
    display: none;

    @media screen and (min-width: $desktop) {
      display: block;
      width: 100%;
    }
  }
  // .product-gallery__thumbnails-wrapper
  &__thumbnails-wrapper {
  }
  // .product-gallery__thumbnails-slide
  &__thumbnails-slide {
    @media screen and (min-width: $tablet) {
      max-width: rem(180);
      height: 100%;
      aspect-ratio: 4 / 3;
      cursor: pointer;
      opacity: .7;
      transition: opacity 0.3s ease;
  
      &.swiper-slide-thumb-active {
        opacity: 1;
      }
    }
  }
  // .product-gallery__thumbnails-img
  &__thumbnails-img {
    @media screen and (min-width: $tablet) {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: rem(8);
    }
  }

  // .product-gallery__navigation
  &__navigation {
  }
  // .product-gallery__button
  &__button {
    display: none;

    @media screen and (min-width: $tablet) {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: rem(40);
      height: rem(40);
      background-color: $sliderElementsColor;
      opacity: 0.8;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 10;
      transition: opacity 0.3s ease;
  
      @media (any-hover: hover) {
        &:hover {
          opacity: 1;
        }
      }
  
      &::before {
        display: block;
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        width: rem(16);
        height: rem(14);
        background: transparent url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDggMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFMNyA4TDEgMTUiIHN0cm9rZT0iIzMzMzMzMyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+") no-repeat center center / contain;
      }

      // .product-gallery__button_prev
      &_prev {
        left: rem(16);
        &::before {
          transform: translate(-60%, -50%) scaleX(-1);
        }
      }
      // .product-gallery__button_next
      &_next {
        right: rem(16);
      }
    }
  }
   // .product-gallery__pagination
   &__pagination {
    .swiper-pagination-bullet-active,
    .swiper-pagination-bullet {
      background-color: $sliderElementsColor;
    }
    &.swiper-pagination-bullets {
      bottom: rem(16);
    }
  }

  // Vertical Slider (Change direction at js slider initialization)
  &.product-gallery_vertical {
    flex-direction: row-reverse;
    
    .product-gallery__main {
      aspect-ratio: 4 / 5;
      @media screen and (min-width: $desktop) {
        // width: 76.30%;
        width: calc(76.30% - rem(4));
      }
    }
    .product-gallery__thumbnails {
      display: none;

      @media screen and (min-width: $desktop) {
        display: block;
        // width: rem(160);
        // width: 23.70%;
        width: calc(23.70% - rem(4));
        aspect-ratio: 4 / 5;
      }
    }
    .product-gallery__thumbnails-slide {
      width: 100%;
      height: auto;
      aspect-ratio: 4 / 5;
    }
  }
}


// Product Details
.product-details {
  // .product-details__price-message
  &__price-message {
    font-size: rem(12);
    line-height: 1.4;
    color: $textColorInfo;
    margin-bottom: rem(4);
  }
  // .product-details__price-action-container
  &__price-action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(16);
    flex-wrap: wrap;
  }
  // .product-details__price-container
  &__price-container {
  }
  // .product-details__main-price
  &__main-price {
    font-family: $fontFamilyPrice;
    font-size: rem(24);
    font-weight: 700;
    line-height: 1.4;
    
    &:not(:last-child) {
      margin-bottom: rem(4);
    }
  }
  // .product-details__additional-price
  &__additional-price {
    font-family: $fontFamilyPrice;
    font-size: rem(14);
    font-weight: 700;
    line-height: 1.4;
    color: $textColorSecondary;
  }
  // .product-details__action-buttons
  &__action-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: rem(8);

    @media screen and (min-width: $tabletSmall) and (max-width: $tablet) {
      margin-left: auto;
      width: fit-content;
    }
    @media screen and (min-width: em(1080)) {
      margin-left: auto;
      width: fit-content;
    }
  }
  // .product-details__action-button
  &__action-button {
    padding: rem(12) rem(24);
    border-radius: rem(8);
    text-align: center;
    white-space: nowrap;
    width: 100%;
    transition: all 0.3s;

    @media screen and (min-width: $tabletSmall) and (max-width: $tablet) {
      width: fit-content;
      height: fit-content;
      padding: rem(8) rem(24);
    }
    @media screen and (min-width: em(1080)) {
      width: fit-content;
      height: fit-content;
      padding: rem(8) rem(24);
    }

    // .product-details__action-button_call
    &_call {
      background-color: $actionCallButtonColor;

      @media (any-hover: hover) {
        &:hover {
          background-color: $actionCallButtonColorHover;
        }
      }
    }
    // .product-details__action-button_tg
    &_tg {
      background-color: $actionTelegramButtonColor;

      @media (any-hover: hover) {
        &:hover {
          background-color: $actionTelegramButtonColorHover;
        }
      }
    }
  }
  // .product-details__action-button-text
  &__action-button-text {
    color: $textColorLight;
    font-weight: 700;
    font-size: rem(16);
    line-height: normal;
    transition: background-color 0.3s;
  }

  // .product-details__group
  &__group {
    border: rem(2) solid $borderColor;
    border-radius: rem(8);
    padding: rem(8);

    &:not(:last-of-type) {
      margin-bottom: rem(12);
    }

    @media screen and (min-width: $tablet) {
      padding: rem(12);
    }
  }
  // .product-details__group-columns
  &__group-columns {
    display: flex;
    gap: rem(8);
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: rem(8);
    }

    @media screen and (min-width: $tablet) {
      gap: rem(16);
    }

    // .product-details__group-columns_gap-medium
    &_gap-medium {
      gap: rem(16);
    }
  }
  // .product-details__group-column
  &__group-column {
    width: 100%;
    @media screen and (min-width: $tabletSmall) and (max-width: $tablet) {
      flex: 0 1 calc(50% - rem(8));
    }
    @media screen and (min-width: em(1080)) {
      flex: 0 1 calc(50% - rem(8));
    }
    
  }
  // .product-details__list-title
  &__list-title {
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: rem(8);
  }
}


// Description
.product-page {
  // .product-page__description-title
  &__description-title {
    font-size: rem(16);
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: rem(12);
  }
  // .product-page__description-list-title
  &__description-list-title {
  }
  // .product-page__description-list
  &__description-list {
    margin-left: rem(16);

    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }
} 