.product-page {
  // .product-page__container
  &__container {
    @media screen and (min-width: $pcSmall) {
      display: flex;
      gap: rem(30);
    }
  }
  // .product-page__title
  &__title {
    font-size: rem(18);
    font-weight: 700;
    line-height: normal;
    margin: rem(16) 0 rem(8);

    @media screen and (min-width: $mobile) {
      font-size: rem(24);
      margin: rem(24) 0 rem(8);
    }
  }
  // .product-page__gallery-description-container
  &__gallery-description-container {
    @media screen and (min-width: $pcSmall) {
      flex: 0 1 50%;
      max-width: 50%;
    }
  }
  // .product-page__gallery-main
  &__gallery-main {
    // margin-bottom: rem(16);
  }
  // .product-page__gallery-main-container
  &__gallery-main-container {
  }
  // .product-page__gallery-thumbnails
  &__gallery-thumbnails {
  }
  // .product-page__description-container
  &__description-container {
  }
  // .product-page__info-block-container
  &__info-block-container {
  }
}

.product-main-slider {
  position: relative;

  @media screen and (min-width: $mobile) {
    margin-bottom: rem(16);
  }

  // .product-main-slider__wrapper
  &__wrapper {
  }
  // .product-main-slider__slide
  &__slide {
    position: relative;
    width: 100%;
    height: 0;
    // padding-top: 56.25%; /* Пропорція 16:9, */
    // padding-top: 75%; /* Пропорція 4:3, */
    padding-top: 80%; /* Пропорція 4:3, */
    overflow: hidden;
    border-radius: rem(12);

    @media screen and (min-width: $mobile) {
      padding-top: 70%;
    }
  }
  // .product-main-slider__slide-image
  &__slide-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Масштабування збереження пропорцій */
    transform: translate(-50%, -50%);
  }
  // .product-main-slider__navigation
  &__navigation {
    display: none;

    @media screen and (min-width: $mobile) {
      display: block;
    }
  }

  // .product-main-slider__navigation-prev
  // .product-main-slider__navigation-next
  &__navigation-prev,
  &__navigation-next {
    @media screen and (min-width: $mobile) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: rem(50);
      height: rem(50);
      background-color: $sliderElementsColorLight;
      opacity: .5;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 10;
      transition: opacity 0.3s ease;
  
      @media (any-hover: hover) {
        &:hover {
          opacity: .8;
        }
      }
    }
  }

  // .product-main-slider__navigation-prev
  &__navigation-prev {
    @media screen and (min-width: $mobile) {
      left: rem(16);
    }
  }
  // .product-main-slider__navigation-next
  &__navigation-next {
    @media screen and (min-width: $mobile) {
      right: rem(16);
    }
  }

  &__navigation-prev::before,
  &__navigation-next::before {
    content: '';
    display: block;
    width: rem(14);
    height: rem(14);
    border: solid $sliderElementsColorDark;
    border-width: 0 rem(2.5) rem(2.5) 0;
  }

  &__navigation-prev::before {
    transform: translate(15%, 0) rotate(130deg);
  }
  &__navigation-next::before {
    transform: translate(-15%, 0) rotate(-50deg);
    // transform: rotate(-50deg);
  }


  // .product-main-slider__pagination
  &__pagination {
    .swiper-pagination-bullet-active,
    .swiper-pagination-bullet {
      background-color: $sliderElementsColorLight;
    }

    @media screen and (min-width: $mobile) {
      display: none;
    }
  }
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-pagination { 
}




.product-thumbnails-slider {
  display: none;

  @media screen and (min-width: $mobile) {
    display: block;
    height: rem(120);
  }
  // .product-thumbnails-slider__wrapper
  &__wrapper {
  }
  // .product-thumbnails-slider__slide
  &__slide {
    width: rem(240);
    height: 100%;
    overflow: hidden;
    border-radius: rem(12);
    opacity: .7;
    transition: opacity 0.3s ease;

    @media screen and (min-width: $mobile) {
      width: rem(180);
    }
  }
  // .product-thumbnails-slider__slide-image
  &__slide-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.swiper-slide-thumb-active {
  opacity: 1;
}





.product-description {
  display: none;
  @media screen and (min-width: $mobile) {
    display: block;
    margin-top: rem(16);
  }
  // .product-description__title
  &__title {
    @media screen and (min-width: $mobile) {
      font-size: rem(18);
      font-weight: 700;
      line-height: normal;
      margin-bottom: rem(8);
    }
  }
  // .product-description__text
  &__text {
    @media screen and (min-width: $mobile) {
      font-size: rem(14);
      line-height: normal;

      &:not(:last-child) {
        margin-bottom: rem(8);
      }
    }
  }
}
.info-block {
  margin-top: rem(16);

  @media screen and (min-width: $mobile) {
    margin-top: 0;
  }
  // .info-block__kit-size-container
  &__kit-size-container {
    @media screen and (min-width: $mobile) {
      display: flex;
      gap: rem(16);
      align-items: flex-start;
    }
  }
  // .info-block__kit-container
  &__kit-container {
  }
  // .info-block__kit-title
  &__kit-title {
    font-size: rem(16);
    font-weight: 700;
    line-height: normal;
    margin-bottom: rem(8);
  }
  // .info-block__kit-info
  &__kit-info {
    font-size: rem(14);
    line-height: normal;
  }
  // .info-block__size-container
  &__size-container {
    margin-top: rem(16);

    @media screen and (min-width: $mobile) {
      margin-top: 0;
    }
  }
  // .info-block__size-title
  &__size-title {
    font-size: rem(16);
    font-weight: 700;
    line-height: normal;
    margin-bottom: rem(8);
  }
  // .info-block__size-info
  &__size-info {
    font-size: rem(14);
    line-height: normal;
  }
  // .info-block__main-info-container
  &__main-info-container {
  }
}

.main-info {
  border: 2px solid $borderColor;
  border-radius: rem(12);
  margin-top: rem(16);

  // .main-info__price-phone-btn-container
  &__price-phone-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(16);
    padding: rem(16);
    border-bottom: 2px solid $borderColor;
  }
  // .main-info__price
  &__price {
    font-size: rem(16);
    font-weight: 700;
    // text-wrap: nowrap;

    @media screen and (min-width: $pcSmall) {
      font-size: rem(18);
    }
  }
  // .main-info__phone-btn
  &__phone-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(16);
    background-color: $buttonsBackgroundColor;
    padding: rem(8) rem(16);
    border-radius: rem(24);
    text-align: center;
    margin-left: auto;
  }
  // .main-info__phone-btn-text
  &__phone-btn-text {
    color: $textColorLight;
    font-size: rem(16);
    font-weight: 700;
  }

  // .main-info__options-container
  &__options-container {
    padding: rem(16);
    border-bottom: 2px solid $borderColor;
  }
  // .main-info__options-title
  &__options-title {
    display: flex;
    align-items: center;
    gap: rem(8);
    margin-bottom: rem(16);
  }
  // .main-info__options-title-text
  &__options-title-text {
    font-size: rem(16);
    font-weight: 700;
  }
  // .main-info__options-item
  &__options-item {
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
    line-height: normal;
  }
  // .main-info__options-item-name
  &__options-item-name {
  }
  // .main-info__options-item-price
  &__options-item-price {
    font-weight: 700;
  }

    // .main-info__delivery-container
  &__delivery-container {
    padding: rem(16);
    border-bottom: 2px solid $borderColor;
  }
  // .main-info__delivery-title
  &__delivery-title {
    display: flex;
    align-items: center;
    gap: rem(8);
    margin-bottom: rem(16);
  }
  // .main-info__delivery-title-text
  &__delivery-title-text {
    font-size: rem(16);
    font-weight: 700;
  }
  // .main-info__delivery-text
  &__delivery-text {
    line-height: normal;

    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }
  // .main-info__delivery-text-important
  &__delivery-text-important {
    font-weight: 700;
  }

  // .main-info__payment-container
  &__payment-container {
    padding: rem(16);
  }
  // .main-info__payment-title
  &__payment-title {
    display: flex;
    align-items: center;
    gap: rem(8);
    margin-bottom: rem(16);
  }
  // .main-info__payment-title-text
  &__payment-title-text {
    font-size: rem(16);
    font-weight: 700;
  }
  // .main-info__payment-text
  &__payment-text {
    line-height: normal;

    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }
  // .main-info__payment-text-important
  &__payment-text-important {
    font-weight: 700;
  }
}






























// .product-page {
//   // .product-page__container
//   &__container {
//   }
//   // .product-page__title
//   &__title {
//     font-size: rem(18);
//     font-weight: 700;
//     line-height: normal;
//     margin: rem(16) 0 rem(8);
//   }
//   // .product-page__gallery-description-container
//   &__gallery-description-container {
//   }
//   // .product-page__gallery
//   &__gallery {
//     margin-bottom: rem(16);
//   }
//   // .product-page__gallery-container
//   &__gallery-container {
//   }
//   // .product-page__description-container
//   &__description-container {
//   }
//   // .product-page__info-block-container
//   &__info-block-container {
//   }
// }

// .product-slider {
//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   // .product-slider__wrapper
//   &__wrapper {
//     // width: 100%;
//     @media screen and (min-width: $mobile) {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//     }
//   }
//   // .product-slider__slide
//   &__slide {
//     position: relative;
//     width: 100%;
//     height: 0;
//     // padding-top: 56.25%; /* Пропорція 16:9, */
//     // padding-top: 75%; /* Пропорція 4:3, */
//     padding-top: 80%; /* Пропорція 4:3, */
//     overflow: hidden;
//     border-radius: rem(12);

//     @media screen and (min-width: $mobile) {
//       padding-top: 56.25%;

//       &:first-child {
//         width: 100%;
//         margin-bottom: rem(16);
//       }

//       &:not(:first-child) {
//         width: 20%;
//         margin: 0 4px;
//         padding-top: 20%;
//       }
//     }
//   }
//   // .product-slider__slide-image
//   &__slide-image {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 100%;
//     height: 100%;
//     object-fit: cover; /* Масштабування збереження пропорцій */
//     transform: translate(-50%, -50%);
//   }
//   // .product-slider__pagination
//   &__pagination {
//     @media screen and (min-width: $mobile) {
//       display: none;
//     }
//   }
//   // .product-slider__navigation
//   &__navigation {
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
    
//     // margin-top: 8px;

//     &-prev,
//     &-next {
//       position: absolute;
//       top: 50%;
//       transform: translateY(-50%);
//       background-color: rgba(0, 0, 0, 0.5);
//       color: #fff;
//       padding: 8px;
//       cursor: pointer;
//       z-index: 10;
//     }

//     &-prev {
//       left: 0;
//     }

//     &-next {
//       right: 0;
//     }
//   }
// }
// .swiper-wrapper {
// }
// .swiper-slide {
// }
// .swiper-pagination {

// }
// .swiper-pagination-bullet-active,
// .swiper-pagination-bullet {
//   background-color: $textColorLight;
// }

// .product-description {
//   // .product-description__title
//   &__title {
//   }
//   // .product-description__text
//   &__text {
//   }
// }

// // ===============================================================================================
// // ===============================================================================================
// // ===============================================================================================

// .product-page {
//   // .product-page__gallery-main
//   &__gallery-main {
//   }
//   // .product-page__gallery-main-container
//   &__gallery-main-container {
//   }
//   // .product-page__gallery-thumbnails
//   &__gallery-thumbnails {
//   }
// }
// .swiper {
// }
// .product-main-slider {
//   // .product-main-slider__wrapper
//   &__wrapper {
//   }
//   // .product-main-slider__slide
//   &__slide {
//   }
//   // .product-main-slider__slide-image
//   &__slide-image {
//   }
//   // .product-main-slider__navigation
//   &__navigation {
//   }
//   // .product-main-slider__navigation-prev
//   &__navigation-prev {
//   }
//   // .product-main-slider__navigation-next
//   &__navigation-next {
//   }
//   // .product-main-slider__pagination
//   &__pagination {
//   }
// }
// .swiper-wrapper {
// }
// .swiper-slide {
// }
// .swiper-pagination {
// }
// .product-thumbnails-slider {
//   // .product-thumbnails-slider__wrapper
//   &__wrapper {
//   }
//   // .product-thumbnails-slider__slide
//   &__slide {
//   }
//   // .product-thumbnails-slider__slide-image
//   &__slide-image {
//   }
// }








































// .info-block {
//   // .info-block__kit-size-container
//   &__kit-size-container {
//   }
//   // .info-block__kit-container
//   &__kit-container {
//   }
//   // .info-block__kit-title
//   &__kit-title {
//   }
//   // .info-block__kit-info
//   &__kit-info {
//   }
//   // .info-block__size-container
//   &__size-container {
//   }
//   // .info-block__size-title
//   &__size-title {
//   }
//   // .info-block__size-info
//   &__size-info {
//   }
//   // .info-block__main-info-container
//   &__main-info-container {
//   }
// }
// .main-info {
//   // .main-info__price-phone-btn-container
//   &__price-phone-btn-container {
//   }
//   // .main-info__price
//   &__price {
//   }
//   // .main-info__phone-btn
//   &__phone-btn {
//   }
//   // .main-info__phone-btn-text
//   &__phone-btn-text {
//   }
//   // .main-info__options-container
//   &__options-container {
//   }
//   // .main-info__options-title
//   &__options-title {
//   }
//   // .main-info__options-title-text
//   &__options-title-text {
//   }
//   // .main-info__options-item
//   &__options-item {
//   }
//   // .main-info__options-item-name
//   &__options-item-name {
//   }
//   // .main-info__options-item-price
//   &__options-item-price {
//   }
//   // .main-info__delivery-container
//   &__delivery-container {
//   }
//   // .main-info__delivery-title
//   &__delivery-title {
//   }
//   // .main-info__delivery-title-text
//   &__delivery-title-text {
//   }
//   // .main-info__delivery-text
//   &__delivery-text {
//   }
//   // .main-info__delivery-text-important
//   &__delivery-text-important {
//   }
//   // .main-info__payment-container
//   &__payment-container {
//   }
//   // .main-info__payment-title
//   &__payment-title {
//   }
//   // .main-info__payment-title-text
//   &__payment-title-text {
//   }
//   // .main-info__payment-text
//   &__payment-text {
//   }
//   // .main-info__payment-text-important
//   &__payment-text-important {
//   }
// }
