//Percent
@function percent($px, $from) {
	$result: math.div($px, $from) * 100%;
	@return $result;
}
//REM
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}
//EM
@function em($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}

// Removes the unit from a value
@function stripUnit($value) {
  @if type-of($value) == 'number' {
    @return $value;
  }
  @else {
    @return $value / ($value * 0 + 1);
  }
}

// Clamp
@mixin dynamicValue($property, $minValue, $maxValue, $minWidth, $maxWidth) {
  $minValueNumber: strip-unit($minValue);
  $maxValueNumber: strip-unit($maxValue);
  $minWidthNumber: strip-unit($minWidth);
  $maxWidthNumber: strip-unit($maxWidth);

  $property: clamp(
    $minValue,
    $minValue + ($maxValueNumber - $minValueNumber) * ((100vw - $minWidth) / ($maxWidthNumber - $minWidthNumber)),
    $maxValue
  );
}