@use "sass:math";
@import "utils/mixins";

@import url('https://fonts.googleapis.com/css?family=Nunito:regular,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,600,700,800&display=swap');

// Variables
$fontFamily: "Nunito", sans-serif;
$fontFamilyPrice: "Plus Jakarta Sans", sans-serif;
$fontSize: rem(14);



//TODO: Colors






$dituTopHeaderColor: #66E2A3;
$bodyBackgroundColor: #FFFFFF;
$headerBackgroundColor: #333333;
$headerActionsHover: #707070;
$footerBackgroundColor: #333333;

$buttonsBackgroundColor: #7BB57C;
$buttonsBackgroundHover: #4C7A4D;
$mainLinkColor: #3B95C4;

// $backgroundColorDark: #2D3250;
// $backgroundColorAlt: #7077A1;
// $accentColor: #F0FF00;
// $bordersColor: #B6BBC4;
// $accentColorHover: #d1db4b;
// $textNotesColor: #53667C;
// $errorColor: #f05050;




$borderColor: #DFDFDF;
$iconsColor: #515151;



$brandColorBlack: #333333;
$brandColorBlackAlt: #515151;
$brandColorGreen: #33B249;
$brandColorGreenAlt: #51D067;
$brandColorBlue: #4681F4;
$brandColorBlueAlt: #649FFF;
$brandColorRed: #ED505E;
$brandColorRedAlt: #FF6E7C;


// Slider
$sliderElementsColor: #F3F3F3; 



// Modal Windows
$modalBackgroundColor: #EBEAED;
$modalBorderColor: $borderColor;
$modalButtonColor: $brandColorGreen;
$modalButtonColorHover: $brandColorGreenAlt;






$actionCallButtonColor: $brandColorGreen;
$actionCallButtonColorHover: $brandColorGreenAlt;
$actionTelegramButtonColor: $brandColorBlue;
$actionTelegramButtonColorHover: $brandColorBlueAlt;





// Text Colors
$textColorMain: $brandColorBlack;
$textColorLight: #F3F3F3; 
$textColorInfo: $brandColorGreen;
$textColorSecondary: #999999;


$textColorHint: #999999;

$linkColorMain: $brandColorBlue;
$linkColorAlt: $brandColorRed;



// Product Card
$cardBadgeColorPrice: $brandColorRed;
$cardPriceColorCurrent: $textColorMain;
$cardPriceColorOld: $brandColorRed;
$cardPriceColorNew: $textColorSecondary;


// Containers
$minWidth: 375;
$maxWidth: 1440;
$maxWidthContainer: 1408;
$containerPadding: 32;

// First breakpoint
$containerWidth: $maxWidthContainer + $containerPadding;

// Breakpoints
// $pc: em($containerWidth);
// $pcSmall: em(1023.98);
// $tablet: em(991.98); // Tablets
// $mobile: em(767.98); // Phone L
// $mobileSmall: em(424.98); // Phone S
$mobile: em(479.98);
$tabletSmall: em(575.98);
$tablet: em(767.98);
$tabletLarge: em(991.98);
$desktop: em(1023.98);


@import "utils/null";
@import "assets/icons";
@import "assets/colorSwatch";

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
  background-color: $bodyBackgroundColor;

	@supports (overflow: clip) {
		overflow: clip;
	}

	// sticky footer
	> main {
		flex: 1 1 auto;
	}
}

[class*="__container"] {
  max-width: rem($containerWidth);
  margin: 0 auto;
  padding: 0 rem(math.div($containerPadding, 4));

  @media (min-width: $tablet) {
    padding: 0 rem(math.div($containerPadding, 2));
  }
}












@import "components/header";


@import "components/nav";


@import "components/home";


@import "components/product-page";








.footer {
  background-color: $footerBackgroundColor;
  color: $textColorLight;
  margin-top: rem(16);
  padding: rem(24) 0;

  @media (min-width: $tablet) {
    margin-top: rem(48);
    padding: rem(48) 0 rem(32);
  }

  // .footer__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(32);

    @media (min-width: $tablet) {
      flex-direction: row;
    }
  }
  // .footer__group
  &__group {
    text-align: center;
    // .footer__group_contacts
    &_contacts {
    }
    // .footer__group_slogan
    &_slogan {
      display: none;

      // @media (min-width: $pcSmall) {
      //   display: inline;
      //   max-width: rem(320);
      //   text-align: left;
      //   line-height: 1.25;
      // }
    }
    // .footer__group_logo
    &_logo {
      display: none;
    }
    // .footer__group_pages
    &_pages {
      &:not(:last-child) {
        margin-bottom: rem(24);
      }

      @media (min-width: $mobile) {
        text-align: left;
      }
    }
  }
  // .footer__group-title
  &__group-title {
    font-size: rem(16);
    font-weight: 700;
    margin-bottom: rem(16);
    line-height: 1.25;
  }
  // .footer__social-links-container
  &__social-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(16);
    margin-bottom: rem(16);
  }
  // .footer__social-link
  &__social-link {
  }
  // .footer__numbers-container
  &__numbers-container {
  }
  // .footer__phone-number
  &__phone-number {
  }
  // .footer__slogan-text
  &__slogan-text {
  }
  // .footer__logo-img
  &__logo-img {
  }
  // .footer__pages-container
  &__pages-container {
    @media (min-width: $mobile) {
      display: flex;
      justify-content: center;
      gap: rem(24);
    }
  }
  // .footer__group-list
  &__group-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(16);

    @media (min-width: $mobile) {
      align-items: flex-start;
    }
  }
  // .footer__group-list-item
  &__group-list-item {
  }
  // .footer__group-list-link
  &__group-list-link {
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@import "components/cookie-banner";